<head>
    <link href="views/owners/owners.css" rel="stylesheet">
    <link href="views/search-panel/search-panel.css" rel="stylesheet">
</head>
<div class="pageheader">
    <h1>Собственники</h1>
    <!-- <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li><a href="#/index">Dashboard</a>
            </li>
            <li>UI Elements</li>
            <li class="active">Sliders &amp; Progress</li>
        </ol>
    </div> -->
</div>
<section id="main-content" class="animated fadeInRight">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div ng-include="'views/search-panel/search-panel-names.html'"></div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div ng-include="'views/search-panel/search-digits-alphabet.html'"></div>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default search-panel-2">
                            <div class="panel-body">
                                <p>Найдено собственников: 65</p>
                                <button class="btn btn-primary" type="button">Поиск</button>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-md-12">                
                    <div class="panel panel-default table-panel">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                    <th>#</th>
                                    <th>Первый звонок</th>
                                    <th>Компания</th>
                                    <th>Метро</th>
                                    <th>Брокер</th>
                                    <th>Адрес</th>
                                    <th>м&#178;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    <td>1</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    </tr>
                                    <tr>
                                    <td>2</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    </tr>
                                    <tr>
                                    <td>3</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
