
  <div class="btn-toolbar" role="toolbar">
        <div class="btn-group digits">
          <button type="button" class="btn btn-default btn-trans"><span>0</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>1</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>2</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>3</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>4</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>5</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>6</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>7</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>8</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>9</span></button>
        </div>    
      </div>

      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group alphabet-rus">
          <button type="button" class="btn btn-default btn-trans"><span>А</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>Б</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>В</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>Г</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>Д</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>Е</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>Ж</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>З</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>И</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>К</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>Л</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>М</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>Н</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>О</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>П</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>Р</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>С</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>Т</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>У</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>Ф</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>Х</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>Ц</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>Ч</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>Ш</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>Щ</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>Э</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>Ю</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>Я</span></button>
        </div>    
      </div>

      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group alphabet-eng">
          <button type="button" class="btn btn-default btn-trans"><span>A</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>B</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>C</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>D</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>E</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>F</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>G</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>H</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>I</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>J</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>K</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>L</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>N</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>O</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>P</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>Q</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>R</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>S</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>T</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>U</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>V</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>W</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>X</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>Y</span></button>
          <button type="button" class="btn btn-default btn-trans"><span>Z</span></button>
        </div>    
      </div>