<div class="row" ng-controller="drawCompassCtrl">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body radio-checkbox-panel">
                    <form class="form-horizontal form-border search-form-container">
                        <div class="search-panel-1">
                            <div>
                                <div class="form-group search-block-input">
                                    <div class="search-block-inline-input">
                                        <label class="control-label label-1">Метраж:</label>
                                        <div>
                                            <input type="text" class="form-control">
                                            &#8212;
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>                                       
                                </div>
                                <div class="form-group search-block-input">
                                    <div class="search-block-inline-input">
                                        <label class="control-label label-2">Ставка:</label>
                                        <div>
                                            <input type="text" class="form-control">
                                            &#8212;
                                            <input type="text" class="form-control">
                                        </div>                                            
                                    </div>
                                </div>
                            </div>
                            <div>                                  
                                <div class="radio">
                                    <label><input ichecks class="icheck" type="radio" name="rad1"><span>Аренда</span></label>
                                </div> 
                                <div class="radio">
                                    <label><input ichecks class="icheck" type="radio" name="rad1"><span>Продажа</span></label>
                                </div>
                            </div>
                            <div class="flex-block">
                                <div class="checkbox compass">
                                    <div class="compass-item">
                                        <label><input ichecks class="icheck" type="checkbox">
                                        В</label>
                                    </div>
                                    <div class="compass-item">
                                        <label><input ichecks class="icheck" type="checkbox">
                                        ЮВ</label>
                                    </div>
                                    <div class="compass-item">
                                        <label><input ichecks class="icheck" type="checkbox">
                                        Ю</label>
                                    </div>
                                    <div class="compass-item">
                                        <label><input ichecks class="icheck" type="checkbox">
                                        ЮЗ</label>
                                    </div>
                                    <div class="compass-item">
                                        <label><input ichecks class="icheck" type="checkbox">
                                        З</label>
                                    </div>
                                    <div class="compass-item">
                                        <label> <input ichecks class="icheck" type="checkbox">
                                        СЗ</label>
                                    </div>
                                    <div class="compass-item">
                                        <label><input ichecks class="icheck" type="checkbox">
                                        С</label>
                                    </div>
                                    <div class="compass-item">
                                        <label><input ichecks class="icheck" type="checkbox">
                                        СВ</label>
                                    </div>
                                </div>
                                <div class="checkbox">
                                    <div>
                                        <label><input ichecks class="icheck" type="checkbox">
                                        БК</label>
                                    </div>
                                    <div>
                                        <label><input ichecks class="icheck" type="checkbox">
                                        СК</label>
                                    </div>
                                    <div>
                                        <label><input ichecks class="icheck" type="checkbox">
                                        ТТК</label>
                                    </div>
                                    <div>
                                        <label><input ichecks class="icheck" type="checkbox">
                                        МКАД</label>
                                    </div>
                                    <div>
                                        <label><input ichecks class="icheck" type="checkbox">
                                        ВСЕ</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="checkbox search-options">
                            <div>
                                <div>
                                    <label><input ichecks class="icheck" type="checkbox">
                                    до 5 мин</label>
                                </div>
                                <div>
                                    <label><input ichecks class="icheck" type="checkbox">
                                    до 10 мин</label>
                                </div>
                                <div>
                                    <label><input ichecks class="icheck" type="checkbox">
                                    до 15 мин</label>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <label><input ichecks class="icheck" type="checkbox">
                                    банк</label>
                                </div>
                                <div>
                                    <label><input ichecks class="icheck" type="checkbox">
                                    медцентр</label>
                                </div>
                                <div>
                                    <label><input ichecks class="icheck" type="checkbox">
                                    ПСН</label>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <label><input ichecks class="icheck" type="checkbox">
                                    0%</label>
                                </div>
                                <div>
                                    <label><input ichecks class="icheck" type="checkbox">
                                    50%</label>
                                </div>
                                <div>
                                    <label><input ichecks class="icheck" type="checkbox">
                                    100%</label>
                                </div>
                                <div>
                                    <label><input ichecks class="icheck" type="checkbox">
                                    >100%</label>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <label><input ichecks class="icheck" type="checkbox">
                                    1-й этаж</label>
                                </div>
                                <div>
                                    <label><input ichecks class="icheck" type="checkbox">
                                    отд вход</label>
                                </div>
                                <div>
                                    <label><input ichecks class="icheck" type="checkbox">
                                    отд блок</label>
                                </div>
                                <div>
                                    <label><input ichecks class="icheck" type="checkbox">
                                    VIP зона</label>
                                </div>
                                </div>
                            <div>
                                <div>
                                    <label><input ichecks class="icheck" type="checkbox">
                                    с отделкой</label>
                                </div>
                                <div>
                                    <label><input ichecks class="icheck" type="checkbox">
                                    shell&core</label>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <label><input ichecks class="icheck" type="checkbox">
                                    open-space</label>
                                </div>
                                <div>
                                    <label><input ichecks class="icheck" type="checkbox">
                                    смешанная</label>
                                </div>
                                <div>
                                    <label><input ichecks class="icheck" type="checkbox">
                                    кабинетная</label>
                                </div>
                            </div> 
                            <div>
                                <label class="checkbox-inline">
                                    <input ichecks class="icheck" type="checkbox"><span>ОСЗ</span></label>
                                <label class="checkbox-inline">
                                    <input ichecks class="icheck" type="checkbox"><span>A+, A</span></label>
                                <label class="checkbox-inline">
                                    <input ichecks class="icheck" type="checkbox"><span>A-</span></label>
                                <label class="checkbox-inline">
                                    <input ichecks class="icheck" type="checkbox"><span>B+</span></label>
                                <label class="checkbox-inline">
                                    <input ichecks class="icheck" type="checkbox"><span>B-</span></label>
                                <label class="checkbox-inline">
                                    <input ichecks class="icheck" type="checkbox"><span>C</span></label>
                                <label class="checkbox-inline">
                                    <input ichecks class="icheck" type="checkbox"><span>D</span></label>
                            </div>                    
                        </div>         
                    </form>              
                </div>
            </div>
        </div>
    </div>
</div>